.navbarForm{
    display: flex;
   
   align-self: flex-start;
   background-color: rgba(211, 192, 110, 0.87);
    margin: 0;
   
   justify-content: space-around;

}
.formcreacion{
    /*  text-decoration: none;
     font-size: larger;
     color: black;
     padding-right: 20px;
     padding-bottom: 0;
     box-sizing: content-box; */
     display: flex;
     text-decoration: none;
     color: black;
     font-size:small;
     font-weight: 500;
     background-color: #d6cf677e;
     border-radius: 5px;
    margin: 20px 10px 10px 10px;
    margin-right: 20px;
    align-items: center;
    height: 40px;
    margin-left: 29%;
    padding: 5px;
    
 }

 .formularioContenido{
     

     margin: 100px 50px 0 50px;
    
    display: flex;
    text-align: center;
 
   
    
    
}
.formulario{
    
    
     background-color: rgba(243, 235, 165, 0.404);
     margin: auto;
     
     padding: 50px 25px 50px 25px;
     align-items: center;
     justify-content: center;
     
}

 .logoForm{
    border: none;
    width: 15%;
}
.logoTextoForm{
    display: flex;
    margin: 0;
}
.danger{
    font-size: small;
    color: red;
    padding: 0;
    margin: 0;
}
label{
    font-size: larger;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input{
    border-radius: 5px;
    font-size: large;
    padding: 5px;
    background-color: rgba(208, 212, 148, 0.513);
    border: 2px inset #6583c3;
    
}
.selects{
    border-radius: 5px;
    color: black;
    background-color: rgba(208, 212, 148, 0.513);
    border: 2px inset #6583c3;
}

.contenidoform{
    
    display: flex;
    
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    
}
.content{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.content option{
    background-color: rgba(224, 220, 184, 0.733);
}
.description{
    border-radius: 5px;
   
    background-color: rgba(208, 212, 148, 0.513);
    border: 2px inset #6583c3;
}

.letras label{
    color: black;
}
.enviar{
    margin-top: 30px;
    margin-left: 20px;
}

.borrar{
    padding: 1px;
    margin-left:100px ;
    width: 20px;
}

@media screen and (max-width: 660px){
    .titulo{
        color: #000000;
        margin-top: 20px;
        justify-self: flex-start;
        font-size: medium;
        text-decoration: none;
        text-align:left ; 
        vertical-align: middle; 
    }
    
    .logoForm{
       
       display: none;
        
    }
    .formcreacion{
        display: flex;
        text-decoration: none;
        color: #0c0c0c;
        font-size:10px;
        
       
        border-radius: 5px;
        margin: 10px 5px 5px 5px;
        margin-right: 20px;
        align-items: center;
        height: 40px;
        margin-left: 29%;
        padding: 2px;
    }
    .formulario{
    
    
        background-color: rgba(243, 235, 165, 0.404);
        margin: auto;
        
        
        align-items: center;
        justify-content: center;
        
   }
   .formularioContenido{
     
    margin: 5px 0 0 0;
 
   
   display: flex;
   text-align: center; 
}
.content{
    display: flex;
    flex-direction: column;
   
}
label{
    font-size: small;
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input{
    border-radius: 5px;
    font-size: small;
    
    background-color: rgba(208, 212, 148, 0.513);
    border: 2px inset #6583c3;
    
}
.enviar{
    
}

.borrar{
    padding: 1px;
  
    width: 20px;
}
.selects{
    width: 50px;
}
}